#
# This is the Travis-CI configuration.
#

# This gets us a faster build via the container-based build system.
# It comes with some limitations but they shouldn't be a problem.
sudo: false

# The default is to get email notification of build results.  This is
# usually just spam.  Look at one of the many the web interfaces for
# build results.
notifications:
  email: false

# Configure more than one builder.
matrix:
  # Each included item will be a builder.
  include:
    # This builder will run our test suite directly.
    - env: ENV="testing"
      language: "python"

    # This builder will build the Nix packages (which happens to run the test
    # suite as well).
    - env:
        # Global environment gets merged into all other environments in this
        # matrix item.
        global:
          # Docker Hub credentials.
          - DOCKER_USER="leastauthorityci"
          # To generate: travis encrypt 'DOCKER_PASS=...'
          - secure: "eEdVHmRXHAiOCHdn3Ltk4Pz6df9rf+s5mnbMDa1p7YqFZJNIXinzgCALYpJWlT9fmEQf3P2hTfLHeDKC6yipm7vOJywaHq4QHa7xL6u1SbcbS93xX1XeKXlSt7E3Meqq0ghkaB88G/+FgFpYYVzg/ZyjmpspzTNLJERe0zEX3lg="
        matrix:
          # tar on trusty doesn't have --exclude-vcs-ignores so disable it here.
          - ENV="packaging" EXCLUDE_VCS_IGNORES=""
      # Force this to run in a VM since the packaging script wants to launch Docker.
      sudo: "required"
      # We don't really need any particular language runtime.
      # Maybe the C runtime is lighter than the rest?
      language: "C"

      # If new images are built, deploy them.
      before_deploy:
        - "docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}"

      deploy:
        on:
          branch: "master"
        provider: "script"
        script: "./ops/deploy-images"


# Install leastauthority.com's dependencies.
install:
  - "./test-tools/install-${ENV}"

# Run its test suite.
script:
  - "./test-tools/run-${ENV}"
