# Templates for the website.
graft src/lae_site/templates

# Other static content for the website.  Stylesheets and more.
graft src/lae_site/static

# Distributed via magic-wormhole-based S4 signup process.
include src/lae_automation/lae-s4-signup-icon.png

# Helper for starting tahoe-lafs with configuration from our system.
include src/lae_automation/configure-tahoe
