# Additional requirements, beyond those in requirements.txt, to run the test suite.
deepdiff==3.3.0
extras==1.0.0
fixtures==3.0.0
funcsigs==1.0.2
hypothesis==3.11.6
jsonpickle==0.9.4
linecache2==1.0.0
mock==2.0.0
pbr==3.1.1
python-mimeparse==1.6.0
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
txkube[dev]==0.2.0
