--find-links https://tahoe-lafs.org/deps/
asn1crypto==0.22.0
attrs==17.4.0
autobahn==17.9.2
Automat==0.6.0
bcrypt==3.0.0
certifi==2017.7.27.1
cffi==1.10.0
characteristic==14.3.0
chardet==3.0.4
chargebee==2.4.3
click==6.7
constantly==15.1.0
cryptography==2.5
eliot==1.1.0
enum34==1.1.6
filepath==0.1
foolscap==0.12.7
grafanalib==0.3.0
hkdf==0.0.3
httplib2==0.19.0
humanize==0.5.1
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
ipaddress==1.0.18
Jinja2==2.10.1
klein==17.2.0
lxml==3.8.0
magic-wormhole==0.10.3
MarkupSafe==1.0
Nevow==0.14.3
oauth2client==4.1.2
oauthlib==2.0.3
pem==17.1.0
prometheus-client==0.0.20
pyasn1==0.3.4
pyasn1-modules==0.1.4
pycparser==2.18
pycryptopp==0.7.1.869544967005693312591928092448767568728501330214
pykube==0.15.0
PyNaCl==1.1.2
pyOpenSSL==18.0.0
pyrsistent==0.13.0
python-dateutil==2.6.1
pytz==2017.2
pyutil==2.0.0
PyYAML==5.1
requests==2.20.0
requests-oauthlib==0.8.0
rsa==3.4.2
service-identity==18.1.0
setuptools==36.4.0
simplejson==3.11.1
six==1.10.0
spake2==0.7
stripe==1.65.0
tahoe-lafs==1.13.0
tqdm==4.15.0
treq==17.8.0
Twisted==19.2.1
txaio==2.8.2
-e git://github.com/twisted/txaws.git@5c3317376cd47e536625027e38c3b37840175ce0#egg=txAWS
-e git://github.com/LeastAuthority/txkube.git@a7e555d#egg=txkube
txtorcon==0.19.3
tzlocal==1.4
urllib3==1.24.2
venusian==1.1.0
Werkzeug==0.12.2
zbase32==1.1.5
zfec==1.4.24
zope.interface==4.4.2
