# Additional requirements, beyond those in requirements.txt, to run the test suite.
deepdiff==3.3.0
extras==1.0.0
fixtures==3.0.0
funcsigs==1.0.2
grafanalib==0.5.3
hypothesis==3.82.1
jsonpickle==1.0
linecache2==1.0.0
mock==2.0.0
pbr==5.1.0
python-mimeparse==1.6.0
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
txkube[dev]==0.3.0
eliot-tree==18.1.1
