--find-links https://s3.amazonaws.com/com.leastauthority.wheelhouse/index.html
--find-links https://tahoe-lafs.org/deps/

setuptools>=34
python-dateutil
stripe==1.41.1
pem==16.1.0
pelican==3.2.2
foolscap
filepath
jinja2
mock
simplejson

twisted[tls]!=17.1.0
# twisted install_requires automat setup_requires m2r which pypi2nix doesn't
# pick up for some reason.
m2r

attrs==16.3.0
eliot==0.12.0
bitmath==1.3.1.2
pyrsistent==0.11.13

txAWS==0.3.0
txkube

# For the test suite.
hypothesis==3.6.0
testtools==2.2.0
fixtures==3.0.0
deepdiff==3.1.0

# It's really convenient to have around.
eliot-tree

pycryptopp==0.7.1.869544967005693312591928092448767568728501330214

# So we can generate tahoe configuration parameters.
tahoe-lafs==1.11.0
