{% block content %}

<p>
  Before you get started,
  you will need to <a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/Installation">install LAFS</a> on your trusted machine.
  After you've installed LAFS,
  you can configure it with the furl you'll be receiving in your email.
</p>

<p>
  We'll send you an email with your unique introducer furl within the next hour.
</p>

<p>
  If you've still not received an email within an hour,
  please make sure that your mail client didn't mark it as spam,
  and notify us at &lt;<a href="mailto:support@LeastAuthority.com">support@LeastAuthority.com</a>&gt;.
  You can also contact us at this address to cancel or change your subscription,
  or if you have any problem with the service.
</p>

{% endblock %}
