{% block content %}

<p>
  Take this opportunity to download and install
  <a href="https://github.com/gridsync/gridsync">Gridsync</a> &ndash;
  a new graphical user interface for Tahoe-LAFS for joining storage grids and creating magic-folders.
  When prompted, enter the following single-use invite code
  <a href="https://github.com/warner/magic-wormhole">(?)</a>:
</p>

<!-- The wormhole code is the really important piece of information on this
     page.  Make it stand out visually with emphasis, increased size, and
     central position on the page.  -->
<p style="text-align: center; font-size: 125%;">
  <strong>{{ claim }}</strong>.
</p>

<p>
  <ul>
    <li>
      <a href="https://github.com/gridsync/gridsync/releases/download/v0.0.5/Gridsync-Linux.tar.gz">Linux</a>
      [<a href="https://github.com/gridsync/gridsync/releases/download/v0.0.5/Gridsync-Linux.tar.gz.asc">sig</a>
      <a href="https://en.wikipedia.org/wiki/Digital_signature">(?)</a>]
    </li>
    <li>
      <a href="https://github.com/gridsync/gridsync/releases/download/v0.0.5/Gridsync-Mac.dmg">Mac</a>
      [<a href="https://github.com/gridsync/gridsync/releases/download/v0.0.5/Gridsync-Mac.dmg.asc">sig</a>
      <a href="https://en.wikipedia.org/wiki/Digital_signature">(?)</a>]
    </li>
    <li>
      <a href="https://github.com/gridsync/gridsync/releases/download/v0.0.5/Gridsync-Windows.zip">Windows</a>
      [<a href="https://github.com/gridsync/gridsync/releases/download/v0.0.5/Gridsync-Windows.zip.asc">sig</a>
      <a href="https://en.wikipedia.org/wiki/Digital_signature">(?)</a>]
    </li>
    <li>
      <a href="https://github.com/gridsync/gridsync/archive/v0.0.5.tar.gz">source code</a>
    </li>
  </ul>
</p>

<p>
  If you have any difficulty installing Gridsync or using the invite code,
  please contact our <a href="mailto:support@leastauthority.com">support address</a>.
  You can also contact us at this address to cancel or change your subscription,
  or if you have any other problems with the service.
</p>

{% endblock %}
