{% extends '_base.html' %}

{% block content %}

<h3>Thank you</h3>

<p>
  Thank you for subscribing to the {{ productfullname }}!
</p>

<p>
  Thank you for signing up for Least Authority’s Simple Secure Storage Service (S4)!
  We are deploying the infrastructure necessary to support your Cloud service!
</p>

<p>
  Take this opportunity to download Gridsync --
  a new, easy-to-use graphical user interface for Tahoe-LAFS --
  <a href="">download it</a> and, when prompted after installation,
  enter the following single-use invite code: <strong>{{ claim }}</strong>.
</p>

<p>
  If you have any difficulty installing Gridsync or using the invite code,
  please contact our <a href="mailto:support@leastauthority.com">support address</a>.
  You can also contact us at this address to cancel or change your subscription,
  or if you have any other problems with the service.
</p>

{% endblock %}
