/* Header */
#header hr { display: none }
#header h1 { 
    white-space:nowrap;
    text-align:left;
    left-margin:0;
    padding: 0 ;
    font-family: Tahoma, sans-serif;
    font-size: x-large;
    margin-top: 1.48em;
}
#header h2 { 
    white-space:nowrap;
    padding: 0 ;
    font-family: Tahoma, sans-serif;
    font-size: medium;
}
#header img { 
    float:left;
    border: none; 
    margin-top: -15.0px; 
}
#header :link, #header :visited, #header :link:hover, #header :visited:hover {
 background: transparent;
 color: #000;
 margin-bottom: 2px;
 border: none;
 padding: 0;
}
#header h1 :link:hover, #header h1 :visited:hover { color: #000 }

/* Horizontal Bar */
#hbar {
		margin-top: 1em;
}

/* Logo */
#logo {
		height:70px; 
		width:100px; 
		float:left
}

/* Tagline */
#tagline {
		height:70px; 
		width:100px; 
		float:left
}

/* Main content div. */
div.main {
	/*top: 0em;     This Declaration causes elements to "HOP" to the top. */
	margin: 0em;
	padding: 0em;
	margin-left: 10em;	/* From div.nav width. */
	min-width: 36em;
	width: auto;
}


body { background: #fff; color: #000; margin: 10px; padding: 0; }
body, th, td {
 font: normal 13px Verdana,Arial,'Bitstream Vera Sans',Helvetica,sans-serif;
}
h1, h2, h3, h4 {
 font-family: Arial,Verdana,'Bitstream Vera Sans',Helvetica,sans-serif;
 font-weight: bold;
 letter-spacing: -0.018em;
 page-break-after: avoid;
}
h1 { font-size: 19px; margin: .15em 1em 0.5em 0 }
h2 { font-size: 16px }
h3 { font-size: 14px }
hr { border: none;  border-top: 1px solid #ccb; margin: 2em 0 }
address { font-style: normal }
img { border: none }

/* Link styles */
:link, :visited {
 text-decoration: none;
 color: #b00;
 border-bottom: 1px dotted #bbb;
}
:link:hover, :visited:hover { background-color: #eee; color: #555 }
h1 :link, h1 :visited ,h2 :link, h2 :visited, h3 :link, h3 :visited,
h4 :link, h4 :visited, h5 :link, h5 :visited, h6 :link, h6 :visited {
 color: inherit;
}
.trac-rawlink { border-bottom: none }


/* Navigation */
.nav h2, .nav hr { display: none }
.nav ul { 
 font-size: 10px;
 list-style: none;
 margin: 0;
 text-align: right;
 margin-bottom: 1px;
}
.nav li {
 border-right: 1px solid #d7d7d7;
 display: inline;
 padding: 0 .75em;
 white-space: nowrap;
}
.nav li.last { border-right: none }
