{% extends 'parent_base.html' %}

{% block extra_tags %}
        {% block head %}
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        {% endblock head %}
{% endblock %}

{% block content %}
    <section>
    <div class="row-fluid">
        <div class="span8">
            {% block content_title %}
            <h2>Company Blog</h2>
            {% endblock %}

            {% block blog_content %}
            {% endblock %}
        </div>
        <div class="span3 offset1 blog-sidebar">
            <h4>Categories</h4>
            <ul>
            {% for category, articles in categories %}
                <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
            {% endfor %}
            </ul>

            <h4>Tags</h4>
            <ul>
            {%- for tag, articles in tags|sort %}
                <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
            {% endfor %}
            </ul>

            <h4>Syndication</h4>
            <ul>
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}">Atom Feed</a></li>
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}">RSS Feed</a></li>
            </ul>
        </div>
    </div>
    </section>
{% endblock content %}