{% extends "base.html" %}

{% block blog_content %}
<section id="content">
    <div id="post-list">
    {% for article in articles_page.object_list %}
        <article class="hentry">
                <header> <h3 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h3> </header>
                <footer class="post-info help-text">
                    <abbr class="published"> {{ article.locale_date }} </abbr>
                    {% if article.author %}<address class="vcard author">By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a></address>{% endif %}
                </footer><!-- /.post-info -->
                <!-- <div class="entry-content"> {{ article.summary }} </div>-->
                <div class="entry-content">
                    {{ article.content }}
                </div><!-- /.entry-content -->
        </article>
        <hr>
    {% endfor %}
    </div><!-- /#posts-list -->
    {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock blog_content %}
