/*
 *
 *
 * LAE Color Pallete
 *
 * Red: ff0000
 *
 */

body {
    font-family:'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('/static/img/back-tile.png');
	background-repeat: repeat;
    background-color: #f5f5f5;
	margin: 0;
	padding: 0;
	height: 100%;
    color: #333333;
}

h1 {
	text-shadow: 0 3px 0 #f5f5f5;
	font-size: 28px;
    letter-spacing: -1px;
    font-weight: bold;
	margin: 0px;
    padding: 0;
    text-transform: uppercase;
    text-align: right;
}

h2 {
    font-size: 16px;
    font-style: italic;
    text-align: right;
    font-weight: normal;
}

h3 {
    color: #666;
    font-size: 26px;
    letter-spacing: -1px;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0;
}

h4 {
    color: #666;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 0;
}

h5 {
    color: #666;
    font-size: 18px;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 0;
}


a > h1 {
    color: #333;
}

h2, h3, h4, h5 {
	text-shadow: 0 1px 0 #f5f5f5;
	color: #333;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #ff0000;
}

a:hover {
    color: #666;
}

p {
    line-height: 1.5em;
    font-size: 15px;
}

/*
 * Style Classes
 */

.small_italic {
    font-size: .8em;
    font-style: italic;
}

/*
 * Header
 */
#header_wrap {
    height: 90px;

}   

#header_block {
    height: 9px;
    background-color: #d1d1d1;
    background-image: url('/static/img/top-border.png');
	background-repeat: repeat-x;

}
/*
 * Main Body
 */

#main_content {
    min-height: 550px;
}

/*
 * Sidebar
 */
#main_nav {
    margin-top: 20px;
}

#main_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#main_nav li {
    text-align: right;
    line-height: 1.5em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

/*
 * Footer
 */

#footer_wrap {
    margin-top: 50px;
    border-top: #eee;
    background-image: url('/static/img/drop-shad.png');
	background-repeat: repeat-x;
    background-color: #e3e3e3;
    height: 60px;
}

#copy {
    font-size: 12px;
    color: #aaa;
    text-align: right;
    padding: 20px 0;
}
