
body {
    font-family:'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('/static/img/back-tile.png');
    background-repeat: repeat;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333333;
}

h1 {
    text-shadow: 0 3px 0 #f5f5f5;
    font-size: 28px;
    letter-spacing: -1px;
    font-weight: bold;
    margin: 0px;
    padding: 0;
    text-transform: uppercase;
    text-align: right;
}

h2 {
    font-size: 16px;
    font-style: italic;
    text-align: right;
    font-weight: normal;
}

h3 {
    color: #666;
    font-size: 26px;
    letter-spacing: -1px;
    font-weight: normal;
}

h4 {
    color: #666;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: normal;
}

h5 {
    color: #666;
    font-size: 18px;
    font-weight: normal;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 0;
}


a > h1 {
    color: #333;
}

h2, h3, h4, h5 {
    text-shadow: 0 1px 0 #f5f5f5;
    color: #333;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #ff0000;
}

a:hover {
    color: #666;
    text-decoration: none;
}

p, blockquote, li {
    line-height: 1.5em;
    font-size: 15px;
}

pre {
    font-size: 13px;
}

tt {
    font-family: monospace;
    font-size: 13px;
}

.clear {
    clear: both;
}

/*
 * Style Classes
 */

.small_italic {
    font-size: .8em;
    font-style: italic;
}

/*
 * Header
 */
#header_wrap {
    height: 90px;
}

/*
 * Main Body
 */
#main_content {
    min-height: 550px;
}

/*
 * Sidebar
 */
#main_nav {
    margin-top: 20px;
}

#main_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#main_nav li {
    text-align: right;
    line-height: 1.5em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

}

#logo {
    float: right;
    padding-bottom: 10px;
}

/*
 * Footer
 */
#footer_wrap {
    margin-top: 50px;
    border-top: #eee;
    background-image: url('/static/img/drop-shad.png');
    background-repeat: repeat-x;
    background-color: #e3e3e3;
    height: 60px;
}

#copy {
    font-size: 12px;
    color: #aaa;
    text-align: right;
    padding: 20px 0;
}


/*
 * Profile Blocks (/about_us/)
 */

.profile_block {
    margin-top: 40px;
}
.profile_block h5 {
    padding: 0;
}

.profile_role {
    font-weight:100;
    font-style: italic;
    font-size: 16px;
}

/*
 * Signup page
 */

.signup-button a {
    display: inline-block;
    font-size: 1.6em;
    padding: 25px;
    border-left: 4pt solid #f67777;
    border-top: 4pt solid #f67777;
    border-right: 4pt solid #cc0000;
    border-bottom: 4pt solid #cc0000;
    border-radius: 20px;
    background: #f25050;
    color: #300000;
    font-weight: bold;
    margin: 0 10px 0 10px;
}

.signup-button a:hover {
    border-left: 4pt solid #ff6666;
    border-top: 4pt solid #ff6666;
    border-right: 4pt solid #bf000c;
    border-bottom: 4pt solid #bf000c;
    background: #f92f2f;
    color: #000;
}

.signup-button a:active {
    border-left: 4pt solid #aa0000;
    border-top: 4pt solid #aa0000;;
    border-right: 4pt solid #ef3f3f;
    border-bottom: 4pt solid #ef3f3f;
    background: #ff0000;
    color: #eee;
}

.help-text {
    font-size: .9em;
    color: #666;
    margin: 1em 10px;
}

.clearer {
    clear: both;
}