<!DOCTYPE html>
<html lang="en">
<head>
    <title>Least Authority</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" title="Default style" href="/static/css/style.css">
    <link href="/static/img/icon.png" rel="shortcut icon">
    <link rel="canonical" href="http://leastauthority.com/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Least Authority Enterprises">
    {% block extra_tags %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
    <div class="nav">
        <div class="container">
            <div class="row-fluid">
                <div class="span3">
                    <a class="brand" href="/">
                        <img src="/static/img/la-logo.png" id="logo" alt="Least Authority Enterprises logo">
                    </a>
                </div>
                <div class="span9">
                    {% include '_navlinks.html' %}
                </div>
            </div>
      </div>
    </div>
    <div class="container site-container">
        <div class="container">
            <div id="main_wrap" class="row-fluid">
                <div id="main_content" class="span12">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div id="footer_wrap">
        <div id="footer" class="container">
            <div class="row-fluid">
                <div class="span12">
                    <div id="copy">
                    <span>&copy; 2011-2013 Least Authority Enterprises</span>
                    </div>
                    {% include '_navlinks.html' %}
                </div>
            </div>
        </div>
    </div>
<!-- Piwik -->
<script type="text/javascript">
  if (document.domain == "leastauthority.com") {
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://analytics.leastauthority.com/piwik/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
      g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  }
</script>
<noscript><p><img src="https://analytics.leastauthority.com/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>
