<div class="row-fluid">
    <div class="span2">
            <img src="/static/img/robustness.png" alt="Redundant servers icon">
            <!--Icon based on Servers designed by Jaime Carrion from The Noun Project, CC-BY -->
    </div>
    <div class="span3">
        <h4>Robustly architected</h4>
        <p>Even if some servers go down, your data is still safe and available.</p>
    </div>
    <div class="span2 offset1">
                <img src="/static/img/versions.png" alt="Icon of different versions of a file">
    </div>
    <div class="span3">
        <h4>Built-in versioning</h4>
        <p>Easy access to previous revisions of your data.</p>
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="span2">
                <img src="/static/img/scaling.png" alt="Icon of a exponentially increasing graph">
    </div>
    <div class="span3">
        <h4>Scales seamlessly</h4>
        <p>Built on top of <a href="https://aws.amazon.com/s3/">Amazon S3</a>; <a href="/products/">RAIC</a> will support <a href="http://www.windowsazure.com">Microsoft Azure</a>, <a href="http://www.rackspace.com/cloud/">Rackspace</a>, <a href="https://cloud.google.com/">Google</a>, and <a href="https://www.hpcloud.com/">Hewlett-Packard</a> as well.</p>
    </div>
    <div class="span2 offset1">
                <img src="/static/img/access.png" alt="Keys icon">
    </div>
    <div class="span3">
        <h4>Access control</h4>
        <p>Users can be given read-only or read-write access to individual files. Files can also be made immutable.</p>
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="span2">
                <img src="/static/img/heart.png" alt="Heart icon">
    </div>
    <div class="span3">
        <h4>Easy to use</h4>
        <p>If you are familiar with the command line and can write a cron job, you can use S4 for backups.</p>
    </div>
    <div class="span2 offset1">
                <img src="/static/img/api.png" alt="Icon with gears and code markup">
    </div>
    <div class="span3">
        <h4>Built-in API</h4>
        <p>Application developers can use S4 for storage as well via its API!</p>
    </div>
</div>