<div class="row-fluid">
    <div class="span3">
        <div class="row-fluid">
            <div class="span6 offset3">
            <img src="/static/img/robustness.png">
            <!--Icon based on Servers designed by Jaime Carrion from The Noun Project, CC-BY -->
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span6 offset3">
                <img src="/static/img/versions.png">
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span6 offset3">
                <img src="/static/img/scaling.png">
            </div>
        </div>
    </div>
    <div class="span3">
        <div class="row-fluid">
            <div class="span6 offset3">
                <img src="/static/img/heart.png">
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span3">
        <h4>Robustly architected</h4>
        <p>If one server or cloud provider goes down, your data is still safe and available.</p>
    </div>
    <div class="span3">
        <h4>Built-in versioning</h4>
        <p>Easy access to previous revisions of your data.</p>
    </div>
    <div class="span3">
        <h4>Scales seamlessly</h4>
        <p>Built on top of <a href="https://aws.amazon.com/s3/">Amazon S3</a>; <a href="/products/">RAIC</a> will support <a href="http://www.windowsazure.com">Microsoft Azure</a>, <a href="http://www.rackspace.com/cloud/">Rackspace</a>, <a href="https://cloud.google.com/">Google</a>, and <a href="https://www.hpcloud.com/">Hewlett-Packard</a> as well.</p>
    </div>
    <div class="span3">
        <h4>Easy to use</h4>
        <p>If you are familiar with the command line and can write a cron job, you can use Least-Authority Backup.</p>
    </div>
</div>