{% extends 'base.html' %}

{% block content %}
<h3>About Least Authority Enterprises</h3>
<p>Least Authority Enterprises was formed in 2011 to provide freedom-compatible storage. We are a small team who believe that freedom matters in storage technology. You can take advantage of online services while retaining control over your own data. We're here to make it easy.</p>

<h4>Who Is Least Authority Enterprises?</h4>
<div class="profile_block">
    <div class="grid_6 profile_text">
        <h5>Zooko Wilcox-O'Hearn</h5>
        <div><span class="profile_role">Founder / CEO / Engineer</span></div>
        <p>Zooko Wilcox-O'Hearn has over 15 years of experience building secure systems and designing security protocols. He is one of the founders of the Tahoe-LAFS project. He started Least Authority Enterprises because he wanted a convenient and safe way to move his files into the cloud.</p>


    </div>
    <div class="grid_2 profile_img">
        <img src="/static/img/zooko.jpg" />
    </div>
</div>
<div class="clear"></div>
<div class="profile_block">
    <div class="grid_2 profile_img">
        <img src="/static/img/davidsarah.jpg" />
    </div>
    <div class="grid_6 profile_text">
        <h5>David-Sarah Hopwood</h5>
        <div><span class="profile_role">Engineering / Operations</span></div>
        <p>David-Sarah Hopwood is a software engineer and enthusiastic advocate of capability systems. They have been contributing to Tahoe-LAFS for two years. They enjoy learning stuff, cryptography, poetry, San Francisco, and being a transgender atheist plural aspie hacker.</p>

    </div>
</div>
<div class="clear"></div>
<div class="profile_block">
    <div class="grid_6 profile_text">
        <h5>Josh "Zancas" Wilcox</h5>
        <div><span class="profile_role">Engineering / Operations</span></div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas sodales magna at mattis. Duis odio quam, ornare et dignissim vel, vestibulum et dolor. Nunc malesuada nisl eu libero volutpat ornare. Proin tristique magna eros, a congue leo. Praesent gravida orci in elit mollis at malesuada ligula tincidunt.</p>


    </div>
    <div class="grid_2 profile_img">
        <img src="/static/img/zancas.jpg" />
    </div>
</div>

{% endblock %}

