{% extends '_base.html' %}

{% block content %}

<section>
<h2>About Least Authority</h2>
<p>Least Authority was formed in 2011 to provide freedom-compatible storage. We are a small team who believe that <i>freedom matters</i> in storage technology. You can take advantage of online services while retaining control over your own data. We're here to make it easy.</p>
</section>

<section>
<h3>Mission</h3>

<p>We are building an affordable, ethical, usable, effective, and lasting secure data storage solution. We believe this requires free and open source software, client-side cryptography, user-friendly interfaces, and a sustainable economic model.</p>

<p>Why do we do what we do? To give billions of humans a real alternative for control over their own data. If someone doesn't do this soon, then almost everyone will be beholden to a few large organizations that control all of their information.</p>
</section>

<section>
<h3>People</h3>
<div class="profile_block row-fluid">
    <div class="span2 profile_img">
        <img src="/static/img/zooko.jpg" alt="Picture of Zooko -- Pham Nuwen's Sol System Avatar">
    </div>
    <div class="span10 profile_text">
        <h4>Zooko Wilcox-O'Hearn</h4>
        <div><span class="profile_role">CEO / Engineering / Operations / Customer Support</span></div>
        <p>Zooko Wilcox-O'Hearn has more than 15 years of experience in secure distributed systems, free and open source software, and startups. He is known for his work on DigiCash, Mojo Nation, ZRTP, and more. He is one of the co-founders of the LAFS project. He started Least Authority Enterprises because he wanted a convenient and safe way to store his files in the cloud.</p>
    </div>
</div>
<div class="profile_block row-fluid">
    <div class="span2 profile_img">
        <img src="/static/img/daira.jpg" alt="Picture of Daira -- kinky atheist genderqueer aspie hacker ;-)">
    </div>
    <div class="span10 profile_text">
        <h4>Daira Hopwood</h4>
        <div><span class="profile_role">Engineering / Operations / Customer Support</span></div>
        <p>Daira Hopwood participated in the standardization of the TLS protocol and Internationalized Domain Names, found security bugs and design flaws in Java Virtual Machines, wrote code for the Cryptix cryptography library, and did security auditing for the Caja Secure JavaScript project. Daira is a major contributor to the LAFS project. In hir spare time, ze is designing a capability-secure programming language called "Noether".</p>

    </div>
</div>
<div class="profile_block row-fluid">
    <div class="span2 profile_img">
        <img src="/static/img/zancas.jpg" alt="Picture of Zancas">
    </div>
    <div class="span10 profile_text">
        <h4>Zancas Wilcox</h4>
        <div><span class="profile_role">Engineering / Operations / Customer Support</span></div>

        <p>Zancas is curious about how things work, so he has a problem with black boxes &mdash; he's constantly trying to open them up and see what's inside. He cares deeply about freedom and the continued advancement of human knowledge, and is excited to be part of Least Authority Enterprises.</p>

    </div>
</div>

<div class="profile_block row-fluid">
    <div class="span2 profile_img">
        <img src="/static/img/leif.jpg" alt="Picture of Leif">
    </div>
    <div class="span10 profile_text">
        <h4>Leif Ryge</h4>
        <div><span class="profile_role">Engineering / Operations</span></div>

        <p>Leif Ryge has been building and maintaining web infrastructure for small businesses and non-profit organizations since the turn of the century. He believes personal privacy and institutional transparency are essential components of healthy societies, and that free and open source software is necessary to counter the inherent unreliability of privacy-by-policy. He does not work on deliverables for Least Authority's DARPA research grant.</p>

    </div>
</div>

<div class="profile_block row-fluid">
    <div class="span2 profile_img">
        <img src="/static/img/nathan.jpg" alt="Picture of Nathan">
    </div>
    <div class="span10 profile_text">
        <h4>Nathan Wilcox</h4>
        <div><span class="profile_role">Engineering / Security</span></div>

        <p>Nathan's passion is open, secure technologies that empower users. He has 9 years of experience in software development, security auditing, and performance analysis.  He contributes to a variety of free and open source projects, including LAFS (where he found its first security flaw), Twisted, OTR, Tor, Python packaging, and more.  He believes the two most important challenges to empowering user security are usability and economic incentives; he's excited about the potential for Least Authority to address these.</p>
    </div>
</div>
</section>

<section>
<h3>Contact</h3>

<p>For product inquiries, billing, or general questions,
please send a message to <a href="mailto:support@LeastAuthority.com">support@LeastAuthority.com</a> and you will be contacted as soon as possible.
</p>
</section>

{% endblock %}
