<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>Least Authority</title>
    <link rel="stylesheet" type="text/css" title="Default style" href="/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/960.css"/>
    <link rel="canonical" href="http://leastauthority.com/"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Least Authority Enterprises"/>
</head>
<body>
    <div id="header_wrap">
        <div id="header_block">

        </div>

    </div>
    <div id="main_wrap" class="container_12">
        <div id="side_bar" class="grid_3 alpha">
            <a href="http://leastauthority.com/">
                <img src="/static/img/logo2.png" />
            </a>

            <div id="main_nav">
                <ul>
                    <li><a href="products/index.html">Products</a></li>
                    <li><a href="">Security</a></li>
                    <li><a href="">Design</a></li>
                    <li><a href="">Downloads</a></li>
                    <li><a href="">Sign Up</a></li>
                    <li><a href="/support/">Support</a></li>
                    <li><a href="/about_us/">About Us</a></li>
                </ul>
            </div>
        </div>
        <div id="main_content" class="grid_9 omega">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id="footer_wrap">
        <div id="footer" class="container_12">
            <div id="copy">
                <span>&copy; 2011 Least Authority Enterprises</span>
            </div>

        </div>

    </div>
</body>
</html>
