<!DOCTYPE html>
<html lang="en">
<head>
    <title>Least Authority</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" title="Default style" href="/static/css/style.css">
    <link href="/static/img/icon.png" rel="shortcut icon">
    <link rel="canonical" href="http://leastauthority.com/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="Least Authority Enterprises">
</head>
<body>
    <div class="container">
        <div id="main_wrap" class="row">
            <div id="side_bar" class="span3 alpha">
                <div id="sidebar-wrapper">
                    <a href="/">
                        <img src="/static/img/logo2.png" id="logo" alt="Least Authority Enterprises logo">
                    </a>
                    <hr class="clearer"></hr>
                    <div id="main_nav">
                        <ul>
                            <li><a href="/services/">Services</a></li>
                            <li><a href="/faq/">FAQ</a></li>
                            <li><a href="/documentation/">Documentation</a></li>
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/signup/">Sign Up</a></li>
                            <li><a href="/about_us/">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main_content" class="span9 omega">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div id="footer_wrap">
        <div id="footer" class="container">
            <div id="copy">
                <span>&copy; 2011 Least Authority Enterprises</span>
            </div>

        </div>
    </div>
</body>
</html>
