{% extends '_base.html' %}

{% block content %}

<h2>Careers</h2>

<h3>Bureaumancer</h3>

<h4>Job description</h4>

<p>Least Authority needs to hire an administrative consultant / organizer / executive assistant / travel agent / paperwork juggler / bureaumancer / human herder / person-who-makes-things-get-done. This is an hourly gig for someone in a consultant capacity, hours per week will be around 10–20 with the possibility of full time employment, as our company grows, for the right person. Our current Bureaumancer is moving on at the end of the month and we are looking for someone to fill the role immediately.

<p>The current person also does marketing and advertising for us. We're an agile startup with ever-evolving professional roles. This particular position may be best suited for a person with a background or interest in accounting, legal, or marketing but we are willing to consider applicants from other backgrounds as well.

<p>Location in Boulder, Colorado would be ideal, but we're willing to consider remote work for the right applicant.

<h4>Desired Skills and Experience</h4>

<p>scheduling, planning, calendaring, travel arrangements, finances, writing contracts, copy-editing, web site design, marketing, advertising, sales, filling out forms, making phone calls, email, …

{% endblock %}
