{% extends '_base.html' %}

{% block content %}
<h2>Frequently Asked Questions</h2>

<ul>
    <li><a href="#what-is-backup-good-for">What is Least-Authority Backup good for?</a></li>
    <li><a href="#where-stored">Where is my data stored?</a></li>
    <li><a href="#cost">How much do the services cost?</a></li>
    <li><a href="#size-limits">Are there limits on how much data I can store?</a></li>
    <li><a href="#delete-files">Can I delete old files to save space?</a></li>
    <li><a href="#what-is-tahoe">What is Tahoe-LAFS?</a></li>
    <li><a href="#tahoe-vs-lae">What is the relationship between Least Authority Enterprises and the Tahoe-LAFS open source project?</a></li>
    <li><a href="#start">How do I start?</a></li>
</ul>

<h4><a name="what-is-backup-good-for"></a>What is Least-Authority Backup good for?</h4>
<p>It is good for securely backing up your data off-site. The <em>&quot;tahoe
backup&quot;</em> command inspects your local filesystem for files that have
changed since the last time you ran it. It uploads each file that
has changed and it creates a directory in Tahoe-LAFS to hold the
current &quot;snapshot&quot;—the current version of each of the files. You can
browse or access old versions just by browsing the old snapshot
directories.</p>

<h4><a name="where-stored"></a>Where is my data stored?</h4>
<p>Your data, encrypted, is stored on Amazon's Simple Storage Service
(S3), which is a convenient, reliable, and widely understood
platform for storage.</p>

<p>Data is replicated according to the following policy decribed in Amazon's
<a href="https://awsmedia.s3.amazonaws.com/pdf/AWS_Security_Whitepaper.pdf">Overview of Security Processes</a>:
<blockquote>
Data stored in Amazon S3, Amazon SimpleDB, or Amazon Elastic Block Store (EBS)
is redundantly stored in multiple physical locations as part of normal operation
of those services and at no additional charge. Amazon S3 and Amazon SimpleDB
provide object durability by storing objects multiple times across multiple
Availability Zones on the initial write and then actively doing further
replication in the event of device unavailability or detected bit-rot.
</blockquote></p>

<h4><a name="cost"></a>How much do the services cost?</h4>
<p>Least-Authority Backup costs $50 per month. S4 costs $15 per month plus $0.30/GB/month.</p>
<p>Discounts are available for full-time students, educational institutions,
libraries, non-profits, and open source projects.</p>

<h4><a name="size-limits"></a>Are there limits on how much data I can store?</h4>
<p>Least-Authority Backup service comes with up to 350 GB of storage. This is not a hard cap, however; if you are exceeding the cap by a lot, we'll email you and work something out.</p>
<p>There are no architectural limits on the total data you can store, but there is currently a
limit on the size of an individual file. Files larger than about 100 MB might
fail to upload. All upload failures, including failures caused by this, are
shown in your Tahoe-LAFS client software, so you'll know if this happens to
you.</p>
<p>We are working on lifting this limitation and will keep you informed about
our progress.</p>

<h4><a name="delete-files"></a>Can I delete old files to save space?</h4>
<p>For now, it is not possible to remove data from the LAE service. If you
unlink a file, you lose your ability to access it, but it does not free up
the space in your S3 bucket, so you still get charged for it.</p>
<p>We are working on fixing this issue and will keep you informed about our
progress.</p>

<h4><a name="what-is-tahoe"></a>What is Tahoe-LAFS?</h4>

<p>Tahoe-LAFS is a Free Software, Open Source cloud storage system. "LAFS" stands for Least Authority File System. Tahoe-LAFS encrypts and cryptographically integrity-checks your files for end-to-end,
<em>provider-independent security</em>. That means that the confidentiality
and integrity of your files cannot be violated by anyone—not even
employees of the storage service provider. For more information see
<a class="reference external" href="https://tahoe-lafs.org">Tahoe-LAFS.org</a>.</p>
<p>The Tahoe-LAFS project comes with complete source code, including
client and server. If you use <em>Least-Authority Backup</em> or <em>S4</em> then
you need to run only the Tahoe-LAFS client software—we provide the
cloud. However, Least Authority's services are completely open
and transparent so that you always have the option to migrate your
data to another service provider or to your own private Tahoe-LAFS
cloud.</p>

<h4><a name="tahoe-vs-lae"></a>What is the relationship between Least Authority Enterprises and the Tahoe-LAFS open source project?</h4>
<p>
Zooko Wilcox-O'Hearn, founder and CEO of Least Authority Enterprises, was one
of the inventors of Tahoe-LAFS. Least Authority Enterprises contributes all
of the code we write to the free/open source project. We believe that's the
best thing for our customers.</p>

<h4><a name="start"></a>How do I start?</h4>
<p><div class="btn btn-danger btn-large signup-button"><a href="/signup/">Sign up now!</a></div></p>

{% endblock %}

