{% extends '_base.html' %}

{% block content %}
<h1>Simple, <em>secure</em> storage services.</h1>
<div class="row-fluid">
    <div class="span6">
        <h2>Least-Authority Backup</h2>
        <div class="product-image-left"><img src="http://placekitten.com/200/200" align="left" class="img-rounded"></div>
        <p>Blurb about the product.</p>
        <div class="clearer"></div>
        <a href="/products/" class="btn btn-caution btn-large">Learn more</a>
        <a href="https://leastauthority.com/signup/" class="btn btn-danger btn-large">Sign up!</a>
    </div>
    <div class="span6">
        <h2>S4</h2>
        <div class="product-image-left"><img src="http://placekitten.com/200/200" align="left" class="img-rounded"></div>
        <p>Blurb about the product.</p>
        <div class="clearer"></div>
        <a href="/products/" class="btn btn-caution btn-large">Learn more</a>
        <a href="https://leastauthority.com/signup/" class="btn btn-danger btn-large">Sign up!</a>
    </div>
</div>
<br>
<h3>Coming soon:</h3>
<div class="row-fluid">
    <div class="span6">
        <h3>Redundant Array of Independent Clouds (RAIC)</h3>
        <div class="product-image-left"><img src="http://placekitten.com/200/200" align="left" class="img-rounded"></div>
        <p>Blurb about the product.</p>
        <div class="clearer"></div>
        <a href="/products/" class="btn btn-caution btn-large">Learn more</a>
        <a href="https://leastauthority.com/signup/" class="btn btn-danger btn-large disabled">Coming soon</a>
    </div>
    <div class="span6">
        <h3>Magic Folder -- Casual file syncing</h3>
        <div class="product-image-left"><img src="http://placekitten.com/200/200" align="left" class="img-rounded"></div>
        <p>Blurb about the product.</p>
        <div class="clearer"></div>
        <a href="/products/" class="btn btn-caution btn-large">Learn more</a>
        <a href="https://leastauthority.com/signup/" class="btn btn-danger btn-large disabled">Coming soon</a>
    </div>
</div>
{% endblock %}

