{% extends '_base.html' %}

{% block content %}
<h1>Simple, <em>secure</em> storage services.</h1>
<div class="row-fluid product-briefs">
    <div class="span12">
        <h3><a href="/products/least_authority_backup/">Least-Authority Backup</a></h3>
        <div class="row-fluid">
            <div class="span3 product-image-left"><a href="/products/least_authority_backup/"><img src="/static/img/backup.png"></a></div>
            <div class="span9">
            <p>Least Authority Backup is an <strong>off-site backup system</strong> for security-conscious individuals and businesses.</p>
            <a href="/products/least_authority_backup/" class="btn btn-large">Learn more</a>
            <a href="/queries/backup/" class="btn btn-danger btn-large signup-button">Sign up!</a>
            </div>
        </div>
    </div>
</div>
<br>

<h3>Serious about security</h3>
<div class="row-fluid quickfacts">
    <div class="span4">
        Built using <a href="http://tahoe-lafs.org">LAFS</a>, a <strong>free and open source software project</strong> with over 40 contributors over seven years and funded by a <strong>DARPA research grant</strong>.
    </div>
    <div class="span4">
        The underlying <a href="https://tahoe-lafs.org/trac/tahoe-lafs/browser/trunk/docs/about.rst">Least Authority File System (LAFS) architecture</a> is the 
        first decentralized storage system
         with <strong>truly end-to-end, provider-independent security</strong>.
    </div>
    <div class="span4">
        Recommended by the US <strong><a href="http://www.whitehouse.gov/cybersecurity/comprehensive-national-cybersecurity-initiative">Comprehensive National Cybersecurity Initiative (CNCI)</a></strong> in its 2009 <a href="http://www.qinetiq-na.com/Collateral/Documents/English-US/InTheNews_docs/National_Cyber_Leap_Year_Summit_2009_Co-Chairs_Report.pdf">Report on National Cyber Leap Year Summit [PDF]</a>.
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="span12">
        <a href="/how_it_works/" style="float: right;">Read more about how our products work and what makes them so secure &raquo;</a>
    </div>
</div>
<br>

<h3>User reviews</h3>
<div class="row-fluid">
    <div class="span2">
        <div class="quote leftquote">&#8220;</div>
    </div>
    <div class="span8 glowquotes">
        Since 1997…I've tried lots of hardware/software RAID solutions, backup schemes, and so on, and LAFS is simply amazing.
    </div>
    <div class="span2">
        <div class="quote rightquote">&#8221;</div>
    </div>
</div>
</br>

<h2>Other products</h2>
<div class="row-fluid product-briefs">
    <div class="span4">
        <h3><a href="/products/s4/">S4</a></h3>
        <div class="row-fluid">
            <div class="span3 product-image-left"><a href="/products/s4/"><img src="/static/img/s4.png" class="img-rounded"></a></div>
            <div class="span9">
            <p>Simple Secure Storage Service (S4) is a <strong>secure cloud storage solution</strong> for application developers.</p>
            </div>
        </div>
        <a href="/products/s4/" class="btn btn-large">Learn more</a>
        <a href="/queries/s4/" class="btn btn-danger btn-large signup-button">Sign up!</a>
    </div>
    <div class="span4">
        <h3><a href="/products/">RAIC</a></h3>
        <div class="row-fluid">
            <div class="span3 product-image-left"><img src="/static/img/raic.png" class="img-rounded"></div>
            <div class="span9">
            <p>Redundant Array of Independent Clouds (RAIC) will be a <strong>multi-cloud add-on</strong> to our Least-Authority Backup and S4 products.</p>
            </div>
        </div>
        <a href="/queries/raic/" class="btn btn-danger btn-large signup-button">Sign up for alpha testing</a>
    </div>
    <div class="span4">
        <h3><a href="/products/">Magic Folder -- Casual file syncing</a></h3>
        <div class="row-fluid">
            <div class="span3 product-image-left"><img src="/static/img/magicfolder.png" align="left" class="img-rounded"></div>
            <div class="span9"><p>Magic Folder will be a "Dropbox-esque", consumer-friendly <strong>file-syncing</strong> utility.</p></div>
        </div>
        <a href="/queries/magicfolder/" class="btn btn-danger btn-large signup-button">Sign up for alpha testing</a>
    </div>
</div>
{% endblock %}

