{% extends '_base.html' %}

{% block content %}

<h3>Oops!</h3>
<p>
Thank you for your interest in {{ productfullname }}, but the email address you entered
does not seem to be valid.
</p>
<form action="/collect-email" method="post" enctype="multipart/form-data" class="big-signup-form signup-form form-inline">
    <input type="email" name="Email" placeholder="Email address" required="true" autofocus>
    <input type="hidden" name="ProductName" value="{{ productname }}">
    <input type="hidden" name="ProductFullName" value="{{ productfullname }}">
    <button type="submit" class="btn btn-danger btn-large signup-button">Try again!</button>
</form>

{% endblock %}
