{% extends '_base.html' %}

{% block content %}

<h3>Thank you</h3>
<p>
Thank you for subscribing to the {{ productfullname }}!
</p>
<p>
We are deploying the infrastructure necessary to support your Cloud service!
We'll send you an email with your unique introducer furl within the next hour.
Before you start using {{ productname }}, you will need to
<a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/Installation">install LAFS</a> on your
trusted machine. After you've installed LAFS, you can configure it with the
furl you'll be receiving in your email.

If you've still not received an email within the hour, please make sure that
your mail client didn't mark it as spam, and notify us at
&lt;<a href="mailto:support@LastAuthority.com">support@LeastAuthority.com</a>&gt;.
</p>

{% endblock %}
