{% extends '_plain_base.html' %}

{% block content %}

<section>
<h2>LeastAuthority.com Announces A Spy-Proof Storage Service</h2>

<h5>Tuesday, July 30, 2013</h5>
<br>
<div class="row-fluid">
    <div class="span8">
<p><a href="https://LeastAuthority.com" target="_blank">LeastAuthority.com</a> today announced <a href="https://LeastAuthority.com/product_s4/" target="_blank">Simple Secure Storage Service (S4)</a>, a backup service that encrypts your files to protect them from the prying eyes of spies and criminals.</p>
<p>“People deserve privacy and security in the digital data that make up our daily lives.” said the company&#39;s founder and CEO, Zooko Wilcox-O&#39;Hearn. “As an individual or a business, you shouldn&#39;t have to give up control over your data in order to get the benefits of cloud storage.”</p>
<div>
<h3>Verifiable end-to-end security</h3>
<p>The Simple Secure Storage Service offers <em>verifiable</em> end-to-end security.</p>
<p>It offers “end-to-end security” because all of the customer&#39;s data is encrypted locally — on the customer&#39;s own personal computer — before it is uploaded to the cloud. During its stay in the cloud, it cannot be decrypted by LeastAuthority.com, nor by anyone else, without the decryption key which is held only by the customer.</p>
<p>S4 offers “<em>verifiable</em> end-to-end security” because all of the source code that makes up the Simple Secure Storage Service is published for everyone to see. Not only is the source code publicly visible, but it also comes with Free (Libre) and Open Source rights granted to the public allowing anyone to inspect the source code, experiment on it, alter it, and even to distribute their own version of it and to sell commercial services.</p>
<p>Wilcox-O&#39;Hearn says “If you rely on closed-source, proprietary software, then you&#39;re just taking the vendor&#39;s word for it that it actually provides the end-to-end security that they claim. As the PRISM scandal shows, that claim is sometimes a lie.”</p>
<p>The web site of LeastAuthority.com proudly states “We can never see your data, and you can always see our code.”.</p>
</div>
<div>
<h3>Trusted by experts</h3>
<p>The Simple Secure Storage Service is built on a technology named “Least-Authority File System (LAFS)”. LAFS has been studied and used by computer scientists, hackers, Free and Open Source software developers, activists, the U.S. Defense Advanced Research Projects Agency, and the U.S. National Security Agency.</p>
<p>The design has been published in a peer-reviewed scientific workshop: <em>Wilcox-O&#39;Hearn, Zooko, and Brian Warner. “Tahoe: the least-authority filesystem.” Proceedings of the 4th ACM international workshop on Storage security and survivability. ACM, 2008.</em> <a href="http://eprint.iacr.org/2012/524.pdf" target="_blank">http://eprint.iacr.org/2012/<WBR>524.pdf</a></p>
<p>It has been cited in more than 50 scientific research papers, and has received plaudits from the U.S. Comprehensive National Cybersecurity Initiative, which stated: “Systems like Least-Authority File System are making these methods immediately usable for securely and availably storing files at rest; we propose that the methods be further reviewed, written up, and strongly evangelized as best practices in both government and industry.”</p>
<p>Dr. Richard Stallman, President of the Free Software Foundation (<a href="https://fsf.org/" target="_blank">https://fsf.org/</a>) said “Free/Libre software is software that the users control. If you use only free/libre software, you control your local computing — but using the Internet raises other issues of freedom and privacy, which many network services don&#39;t respect. The Simple Secure Storage Service is an example of a network service that does respect your freedom and privacy.”</p>
<p>Jacob Appelbaum, Tor project developer (<a href="https://www.torproject.org/" target="_blank">https://www.torproject.org/</a>) and WikiLeaks volunteer (<a href="http://wikileaks.org/" target="_blank">http://wikileaks.org/</a>), said “LAFS&#39;s design acknowledges the importance of verifiable end-to-end security through cryptography, Free/Libre release of software and transparent peer-reviewed system design.”</p>
<p>The LAFS software is already packaged in several widely-used operating systems such as Debian GNU/Linux and Ubuntu.</p>
<p><a href="https://LeastAuthority.com" target="_blank">https://LeastAuthority.com</a></p>
</div>

</div>
</div>
</section>

<section>
    <div class="highlight">
    <a name="signup"></a><h3>Get started with S4</h3>
    <p>Send us your email address and we'll contact you with payment and setup instructions!</p>
    {% include '_signup_for_s4.html' %}
    </div>
</section>

{% endblock %}