{% extends 'index.html' %}

{% block tagline %}{% endblock %}
{% block learn_more %}{% endblock %}

{% block price %}
<h3>Just <strong>$50/month</strong> for up to 350 GB.</h3>
{% endblock %}

{% block more_price %}
<p class="help-text">If you go over 350 GB, no worries--we'll work something out.<br>Discounts are available for full-time students, educational institutions, libraries, non-profits, and open source projects.</p>
{% endblock %}

{% block product_slug %}least_authority_backup{% endblock %}

{% block more_stuff %}
    <h3>Screenshots</h3>
    <br>
    <h3>Get started</h3>
    {% include '_signup_form.html' %}
{% endblock %}