{% extends 'base.html' %}

{% block content %}
<h3>Products</h3>
<p>Least Authority plans on offering a variety of products, clients, and services and our first product is Tahoe-LAFS-on-S3.
<h4>Tahoe-LAFS-on-S3</h4>
<p><em>Tahoe-LAFS-on-S3</em> is a reliable and scalable cloud storage back-end for use with the <a class="reference external" href="http://tahoe-lafs.org">Tahoe-LAFS</a> client software.  Cloud storage data is encrypted and stored on Amazon's Simple Storage Service
<a class="reference external" href="http://en.wikipedia.org/wiki/Amazon_S3">S3</a>. Pricing starts at $1.00/GB/month, with discounts available for full-time students, educational institutions,
libraries, non-profits, and open source projects.
{% endblock %}

