{% extends '_base.html' %}

{% block content %}
<section>
<h2>Products</h2>

<div class="highlight">
    {% include '_product_list.html' %}
</div>
</section>

<section>
<h3>Product comparison</h3>
<table id="product-comparison">
    <thead>
        <tr>
        <th></th>
            <th><h4>S4</h4></th>
            <th><h4>Redundant Array of Independent Clouds</h4></th>
            <th><h4>Magic Folder</h4></th>
        </tr>
        <tr class="subhead">
        <th>Description:</th>
            <th><h5>Secure cloud backup service</h5></th>
            <th><h5>Multi-cloud add-on</h5></th>
            <th><h5>Casual file sync</h5></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th>Typical user:</th>
            <td>Sysadmin or developer</td>
            <td>Sysadmin or developer</td>
            <td>Everyone</td>
        </tr>
        <tr>
        <th>Availability:</th>
            <td><a href="/queries_s4"><strong>Sign up now!</strong></a></td>
            <td><a href="/queries_raic">Coming soon</a></td>
            <td><a href="/queries_magicfolder">Coming soon</a></td>
        </tr>
        <tr>
        <th>Price:</th>
            <td>$50/month<br>
                for 350 GB*</td>
            <td>TBA</td>
            <td>TBA</td>
        </tr>
        <tr class="features checkboxes">
        <th>End-to-end security:</th>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
        </tr>
        <tr class="features checkboxes">
        <th>Back up your files:</th>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
        </tr>
<!--         <tr class="features checkboxes">
        <th>Use cloud storage in your app:</th>
            <td>&nbsp;</td>
            <td>&#10003;</td>
            <td>&nbsp;</td>
        </tr> -->
        <tr class="features checkboxes">
        <th>Automatic syncing ("Like Dropbox™"):</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&#10003;</td>
        </tr>
        <tr class="backends checkboxes">
        <th>Amazon S3 backend</th>
            <td>&#10003;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
        </tr>
        <tr class="backends checkboxes">
        <th>Microsoft Azure backend</th>
            <td>&nbsp;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
        </tr>
        <tr class="backends checkboxes">
        <th>Rackspace backend</th>
            <td>&nbsp;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
        </tr>
        <tr class="backends checkboxes">
        <th>Google backend</th>
            <td>&nbsp;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
        </tr>
        <tr class="backends checkboxes">
        <th>Hewlett-Packard backend</th>
            <td>&nbsp;</td>
            <td>&#10003;</td>
            <td>&#10003;</td>
        </tr>
    </tbody>
</table>

<p class="help-text">* Discounts are available for full-time students, educational institutions, libraries, non-profits, and free and open source projects.</p>
</section>
{% endblock %}