{% extends '_base.html' %}

{% block content %}

<section>
<h2>Simple Secure Storage Service (S4)</h2>

<div class="row-fluid">
    <div class="span3"><img src="/static/img/s4.png"></div>
    <div class="span9 top-area">
        <p>S4 is Least Authority's <strong>verifiably secure off-site backup system</strong> for individuals and businesses. <a href="#how_it_works">Learn how S4 keeps your data safe and private &raquo;</a></p>
        <p>Just <strong>$50/month</strong> for up to 350 GB.</p>
        {% include '_signup_for_s4.html' %}
        <p class="help-text">If you go over 350 GB, no worries&mdash;we'll work something out.<br>Discounts are available for full-time students, educational institutions, libraries, non-profits, and open source projects.</p>
    </div>
</div>
</section>

<!-- <section>
    <h3>Screenshots</h3>
</section> -->

<section class="howto">
    <h3>How to use S4</h3>

    <div class="row-fluid">
        <h4><span class="number">1</span><a href="#signup">Subscribe</a> to S4.</h4>
        <p>You can do step two before or during this step.</p>
    </div>
    <div class="row-fluid">
        <h4><span class="number">2</span><a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/Installation">Install the free LAFS client</a> on your trusted machine.</h4>
        <p>Try running <tt>bin/tahoe --help</tt> to check that the LAFS client is working. If you have any problems up to this point, <a href="https://tahoe-lafs.org/cgi-bin/mailman/listinfo/tahoe-dev">the tahoe-dev mailing list</a> or the <tt>#tahoe-lafs</tt> IRC channel on irc.freenode.net are the best places to seek help.</p>
    </div>
    <div class="row-fluid">
        <h4><span class="number">3</span>Create an LAFS gateway on your trusted machine.</h4>
        <p>To create a Tahoe-LAFS gateway on your trusted machine (in the default location, which is the <tt>.tahoe</tt> subdirectory of your home directory), run:</p>
        <pre>
          bin/tahoe create-client</pre>
        <p>Then to configure the gateway for use with your LAE account, edit
        <tt>YOUR_HOME_DIRECTORY/.tahoe/tahoe.cfg</tt> to use the following settings (the
        <tt>introducer.furl</tt> will have been sent to you in your sign-up confirmation
        e-mail):</p>

        <pre>
        [client]
        introducer.furl = <i>specific to each customer</i>
        shares.needed = 1
        shares.happy = 1
        shares.total = 1</pre>

        <p>(If you are repurposing an existing node to use as the gateway, also set <tt>enabled = false</tt> in
        the <tt>[storage]</tt> section. It is already set that way when you create a node using
        <tt>bin/tahoe create-client</tt>.)
    </div>
    <div class="row-fluid">
        <h4><span class="number">4</span>Start your gateway.</h4>
        <p>Now start your gateway using:</p>
        <pre>
          bin/tahoe start</pre>
        <p>On Windows, you'll need to leave that command running; on other platforms
        it will run in the background. Next, in your web browser go to:</p>
        <pre>
          http://127.0.0.1:3456</pre>
        <p>to see the gateway's Welcome page. If everything is set up correctly, you
        should see a box with a green bullet on the left in the list of connected servers.</p>
    </div>

    <div class="row-fluid">
        <h4><span class="number">5</span>Make an S4 alias.</h4>
        <p>We recommend that you create a directory and make the alias
        <tt>s4:</tt> point to it:</p>
        <pre>
          bin/tahoe create-alias s4</pre>
        <p>then to see that directory in your browser:</p>
        <pre>
          bin/tahoe webopen s4:</pre>
        <p>(The colon after <tt>s4</tt> is required here.)</p>
    </div>

    <div class="row-fluid">
        <h4><span class="number">6</span>Back up your files!</h4>
        <p>Just use the <tt>tahoe backup</tt> command to back up your files to your new alias. For example:</p>
        <pre>
          bin/tahoe backup DIRECTORY_TO_BACKUP s4:</pre>
    </div>
</section>

<section>
    <a name="how_it_works"></a><h3>How it works</h3>

    <p>S4 is an Amazon S3-based application of Least-Authority File System, or LAFS. LAFS is a free, open source cloud storage system with <em>verifiable end-to-end security</em>. It distributes your data across multiple servers. Even if some of the servers fail or are taken over by an attacker, the entire filesystem continues to function correctly, preserving your privacy and security.</p>

    <p>Here's how it works:</p>

    <img src="/static/img/network-and-reliance-topology.png">

<p>A "storage grid" is made up of one or more storage servers. In the case of S4, the grid has one server
which is run by Least Authority, and configured to store its data in Amazon S3. A "gateway" uses the storage
servers and provides access to the filesystem over HTTP(S) or (S)FTP.

<p>Users do not rely on storage servers to provide confidentiality nor integrity for their data -- instead all
of the data is encrypted and integrity-checked by the gateway, so that the servers can neither read nor modify
the contents of the files. Users do rely on storage servers for availability.</p>

<p>In the typical deployment mode each user runs her own gateway on her own machine. This way she relies on
her own machine for the confidentiality and integrity of the data.</p>

<p>An alternate deployment mode is that the gateway runs on a remote machine and the user connects to it over
HTTPS or SFTP. This means that the operator of the gateway can view and modify the user's data (the user relies
on the gateway for confidentiality and integrity), but the advantage is that the user can access the filesystem
with a client that doesn't have the gateway software installed, such as a cell phone.</p>

<p><a href="http://bigasterisk.com/tahoe-playground/">Here is an interactive demonstration of LAFS</a> storing and recovering a file.</p>

<p>LAFS also supports access control. In LAFS, there are two kinds of files: immutable and mutable. When you
upload a file to the storage grid you can choose which kind of file it will be in the grid. Immutable files
can't be modified once they have been uploaded. A mutable file can be modified by someone with read-write access
to it. A user can have read-write access to a mutable file or read-only access to it, or no access to it at all.</p>

<p>A user who has read-write access to a mutable file or directory can give another user read-write access to that
file or directory, or they can give read-only access to that file or directory. A user who has read-only access
to a file or directory can give another user read-only access to it.</p>

<p>When linking a file or directory into a parent directory, you can use a read-write link or a read-only link.
If you use a read-write link, then anyone who has read-write access to the parent directory can gain read-write
access to the child, and anyone who has read-only access to the parent directory can gain read-only access to
the child. If you use a read-only link, then anyone who has either read-write or read-only access to the parent
directory can gain read-only access to the child.</p>

<p>For more technical detail, please see the <a href="https://tahoe-lafs.org/trac/tahoe-lafs/wiki/Doc">LAFS project's docs page</a>.</p>
</section>

<section>
    <a name="what_is_verifiable"></a><h3>What is verifiable end-to-end security?</h3>

    <p>Every seller of cloud storage services will tell you that their service is "secure". But what they mean by that is something fundamentally different from what we mean. What they mean by "secure" is that after you've given them the power to read and modify your data, they try really hard not to let this power be abused. This turns out to be difficult! Bugs, misconfigurations, or operator error can accidentally expose your data to another customer or to the public, or can corrupt your data. Criminals routinely gain illicit access to corporate servers. Even more insidious is the fact that the employees themselves sometimes violate customer privacy out of carelessness, avarice, or mere curiousity. The most conscientious of these service providers spend considerable effort and expense trying to mitigate these risks. However, some privacy breach is inevitable--if by nothing else, then by government order via programs like PRISM.</p>

    <p>What we mean by "security" is something different. The service provider never has the ability to read or modify your data in the first place: never. If you use S4, then all of the threats described above are non-issues to you. Not only is it easy and inexpensive for the service provider to maintain the security of your data, but in fact they couldn't violate its security if they tried. This is what we call provider-independent security.</p>

    <p>This guarantee is integrated naturally into S4 (and LAFS, on which S4 is based) and and doesn't require you to perform a manual pre-encryption step or cumbersome key management. (After all, having to do cumbersome manual operations when storing or accessing your data would nullify one of the primary benefits of using cloud storage in the first place: convenience.)</p>
</section>

<section>
    <div class="highlight">
    <a name="signup"></a><h3>Get started with S4</h3>
    <p>Send us your email address and we'll contact you with payment and setup instructions!</p>
    {% include '_signup_for_s4.html' %}
    </div>
</section>

{% endblock %}

{% block product_slug %}backup{% endblock %}