{% extends 'base.html' %}

{% block content %}
<h3>Least Authority: Simple, <em>secure</em> digital storage services.</h3>
<div class="row">
    <div class="span3">
        <h4>Secure Backup Service</h4>
        Just $50/month for up to 350 GB
    </div>
    <div class="span3">
        <h4>S4 Storage Platform</h4>
        Just $15/month plus $0.30/GB/month
    </div>
    <div class="span3">
        <h4>Magic Folder</h4>
        TBA
    </div>
</div>

<div class="signup-button"><a href="/signup/">Sign up now</a></div>
{% endblock %}

