{% extends '_base.html' %}

{% block content %}
<div id="signup">
    <h2>Sign Up</h2>
    <!--<p>If you haven't already, you'll need to <a href="https://tahoe-lafs.org">install Tahoe-LAFS</a> on your trusted machine. Then:</p>
    <a href="https://leastauthority.com/signup/alpha" class="signup-button btn btn-danger btn-large">Subscribe to Least-Authority Backup</a> <a href="https://leastauthority.com/signup/alpha" class="signup-button btn btn-danger btn-large">Subscribe to S4</a>

    <p class="help-text">The buttons will direct you to create an AWS account, if you don't already have one, then take you to an Amazon Payments page.  Your credit card number or bank details are only held by Amazon and not by Least Authority Enterprises; for more information see the
    <a href="https://payments.amazon.com/sdui/sdui/about?faq"
    target="_blank">Amazon Payments FAQ</a>.
    </p>

    <div class="clearer">
        <p>For information about discounts available to full-time students,
        educational institutions, libraries, non-profits
        (<a href="https://en.wikipedia.org/wiki/Non-profit_organization">as described
        by Wikipedia</a>), and open source projects, or for any other queries, please
        contact <a href="mailto:info@leastauthority.com">info@leastauthority.com</a>.
        </p>
    </div>-->
</div>
{% endblock %}
