{% extends 'base.html' %}

{% block content %}
<h3>Sign Up for the Alpha Program</h3>
<p>We appreciate your interest in our product.  Tahoe-LAFS-on-S3 is currently in an alpha release and in active development.
In order to use this product you'll need to obtain and install a copy of the <a href="https://tahoe-lafs.org">Tahoe-LAFS</a> software on your trusted machine.  To join our alpha program, please select:
<ul>{{ productlist }}</ul>
</p>
<p>For information about discounts available to full-time students, educational institutions,
libraries, non-profits, and open source projects, or for any other queries,
please contact <a href="mailto:info@leastauthority.com">info@leastauthority.com</a>.</p>
{% endblock %}
