{% extends '_base.html' %}

{% block content %}
<div id="signup">
    <h2>Sign Up</h2>
    <a href="/queries_backup" class="btn btn-danger btn-large signup-button">Sign up for Least-Authority Backup</a><br>
    <a href="/queries_s4" class="btn btn-danger btn-large signup-button">Sign up for S4</a>

    <h3>Sign up for future alpha tests:</h3>
    <a href="/queries_raic" class="btn btn-danger btn-large signup-button">Redundant Array of Independent Clouds</a><br>
    <a href="/queries_magicfolder" class="btn btn-danger btn-large signup-button">Magic Folder</a>
</div>
{% endblock %}
