{% extends '_base.html' %}

{% block content %}
<h2>Subscribe to S4</h2>

<div class="row-fluid">
  <div class="span6">
  <form action="/subscription-complete" method="POST" enc="multipart/form-data" id="payment-form" class="form-inline">
    <span class="payment-errors">{{ errorblock }}</span>

    <div class="form-row">
      <label><span>Email address:</span></label> 
      <input type="email" name="email" required="true" value="{{ email }}" autofocus>
    </div>
    <div class="form-row">
      <label><span>Name:</span></label> 
      <input type="text" name="nickname" required="true" autofocus>
    </div>

    <input type="hidden" name="ProductName" value="{% block product_slug %}{% endblock %}">
    
    <div class="form-row">
      <label>
        <span>Card number:</span>
      </label>
        <input type="number" maxlength="20" size="20" placeholder="**** **** **** ****"
	       data-stripe="number" required="true"
	       pattern="^\d{4}\s?\d{4}\s?\d{4}\s?\d{4}$|^\d{4}\s?\d{6}\s?\d{5}$|^\d{4}\s?\d{4}\s?\d{4}\s?\d{2}$"/>
    </div>

    <div class="form-row">
      <label>
        <span>CVC:</span>
      </label>
      <input type="number" maxlength="4" size="4" data-stripe="cvc" required="true" pattern="\d{3}"/>
      &nbsp;
      <label> 
        <span>Expiration:</span>
      </label>
        <input type="number" maxlength="2" size="2" placeholder="MM" data-stripe="exp-month" required="true" pattern="\d\d"/>
        <span> / </span><input type="number" maxlength="4" size="4" placeholder="YYYY" data-stripe="exp-year" required="true" pattern="\d{4}"/>
    </div>

    <div class="form-row">
      <label><span>Optional PGP Public Key:</span></label> 
      <input type="text" name="pgp_pubkey" style="width:20em; height:12ex" autofocus>
    </div>

    <div class="form-row">
         <button type="submit" class="btn btn-danger btn-large signup-button">Purchase</button>
    </div>
  </form>
  </div>
</div>

<script type="text/javascript" src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('pk_test_czwzkTp2tactuLOEOqbMTRzG')<!--"sk_test_mkGsLqEW6SLnZa487HYfJVLf");-->
  // ...
  jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });

  var stripeResponseHandler = function(status, response) {
  var $form = $('#payment-form');

  if (response.error) {
    // Show the errors on the form
    $form.find('.payment-errors').text(response.error.message);
    $form.find('button').prop('disabled', false);
  } else {
    // token contains id, last4, and card type
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};
</script>

{% endblock %}
