{% extends 'base.html' %}

{% block content %}
<h3>Product Support</h3>
<p>The quickest way to receive product support is via IRC.  The project developers can be found on <a target="_blank" href="http://freenode.net">irc.freenode.net</a> in the channel #leastauthorityenterprises.  There, you can find support for product setup, sign up, and techinical inquiries.</p>
<p>For general product support questions, product inquiries, billing, or general questions, please send a message to <a href="mailto:info@leastauthority.com">info@leastauthority.com</a> with the subject "Product Support" and you will be contacted as soon as possible.</p>
{% endblock %}

