{% extends 'base.html' %}

{% block content %}
<h3>Product Support</h3>
<p>The quickest way to receive product support is via IRC.  The project developers
can be found on <a target="_blank" href="http://freenode.net">irc.freenode.net</a>
in the channel #leastauthorityenterprises.
There, you can find support for product setup, sign up, and technical inquiries.
</p>

<p>For general product support questions, product inquiries, billing, or general questions,
please send a message to <a href="mailto:info@leastauthority.com">info@leastauthority.com</a>
with the subject "Product Support" and you will be contacted as soon as possible.
</p>

<h3>Transparency</h3>
<p>To provide greater transparency into the reliability of our servers, our
monitoring system is open to public access by
following <a href="https://monitoring.leastauthority.com/zport/dmd/itinfrastructure">this
link</a>, and logging in with username "guest" and password "guest". Once
logged in you can view performance graphs for customer servers by clicking on
an IP address, and then clicking the "Graphs" button in the left-hand menu.
We also have
a <a href="https://leastauthority.com:8443/cgi-bin/mailman/listinfo/monitoring">public
mailing list for monitoring alerts</a>. In both of these, servers are
identified by their public IP address. New customers are informed of their
server's public IP address in the sign-up confirmation email, and existing
customers will be given this information shortly.
</p>

<p>The Python source code for this website, our automation and monitoring scripts,
and our fork of <a href="https://tahoe-lafs.org">Tahoe-LAFS</a> to support Amazon S3
are all open-sourced under the
<a href="https://leastauthority.com/static/source/ticket999-S3-backend/README.txt">same
licenses as Tahoe-LAFS itself</a>. The S3 backend depends on a fork of the
<a href="https://launchpad.net/txaws">txaws</a> library that is open-sourced under
the MIT / X / Expat License.
</p>

<p>To obtain this source code, install <a href="http://wiki.darcs.net/Binaries">darcs</a>
and then use:</p>
<pre>
  darcs get --lazy https://leastauthority.com/static/source/ticket999-S3-backend
  darcs get --lazy https://leastauthority.com/static/source/leastauthority.com
  darcs get --lazy https://leastauthority.com/static/source/monitors
</pre>
<p>The patches to txaws are at
&lt;<a href="https://leastauthority.com/static/patches">https://leastauthority.com/static/patches</a>&gt;.
</p>
{% endblock %}
