{% extends 'products/_product_base.html' %}

{% block product_image %}<img src="http://placekitten.com/300/280" align="right" class="img-rounded">{% endblock %}

{% block product_name %}Simple Secure Storage Service (S4){% endblock %}

{% block about %}
<p>Need scalable storage for your application? Want a secure solution that can't be lost, corrupted, wiretapped, or PRISMed? S4 is <strong>secure cloud storage</strong> with all the flexibility of the cloud and none of the FUD.</p>
<a href="https://leastauthority.com/signup/" class="btn btn-danger btn-large">Sign up!</a>
<h4>Just <strong>$15/month</strong> + <strong>$0.30/GB/month</strong></h4>
    <p class="help-text">Discounts are available for full-time students, educational institutions, libraries, non-profits, and open source projects.</p>
{% endblock %}

{% block features %}
<h3>Features</h3>
<div class="row-fluid">
    <div class="span2">
        <img src="/static/img/secure.png">
    </div>
    <div class="span4">
        <h4>Seriously confidential</h4>
        <p>Your data is encrypted before it reaches the cloud, so neither the network, the cloud, nor Least Authority can ever read your data.</p></div>
    <div class="span2">
        <img src="/static/img/robustness.png">
    </div>
    <div class="span4">
        <h4>Robustly architected</h4>
        <p>Provider-independent security means if one server or cloud provider goes down, your data is still safe and available.</p></div>
</div>
<br>
<div class="row-fluid">
    <div class="span2">
        <img src="/static/img/opensource.png">
    </div>
    <div class="span4">
        <h4>Open source!</h4>
        <p>Both the client-side and server-side software are based on the <a class="reference external" href="http://tahoe-lafs.org">Tahoe-LAFS</a> free software project.</p>
    </div>
    <div class="span2">
        <img src="/static/img/scaling.png">
    </div>
    <div class="span4">
        <h4>Scales seamlessly</h4>
        <p>Currently built on top of <a href="https://aws.amazon.com/s3/">Amazon S3</a>; the <a href="/products/">upcoming RAIC add-on</a> will support <a href="http://www.windowsazure.com">Microsoft Azure</a>, <a href="http://www.rackspace.com/cloud/">Rackspace</a>, <a href="https://cloud.google.com/">Google</a>, and <a href="https://www.hpcloud.com/">Hewlett-Packard</a> as well.</p>
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="span2">
        <img src="/static/img/versions.png">
    </div>
    <div class="span4">
        <h4>Built-in versioning</h4>
        <p>Easy access to previous revisions of your data.</p>
    </div>
    <div class="span2">
        <img src="/static/img/heart.png">
    </div>
    <div class="span4">
        <h4>Easy to use</h4>
        <p>If you've used a storage API like <a href="https://aws.amazon.com/s3/">Amazon S3</a> before, S4 will be a snap!</p>
    </div>
</div>
<br>
<div class="row-fluid">
    <div class="span12">
        <strong><a href="/how_it_works/">Read more</a> about how Least Authority File System (LAFS) architecture ensures your data's privacy and integrity.</strong>
    </div>
</div>
{% endblock %}

{% block signup %}
    <a href="https://leastauthority.com/signup/" class="btn btn-danger btn-large">Sign up!</a>
{% endblock signup %}